/* style.css */
.appvide {
  display: flex;
  align-items: center;
}

.myapp {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.video__container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  height: 500px;
  /* z-index: 1; */
}

.appcanvas {
  position: absolute;
  /* z-index: 0; */
}

.app {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.navbar__link.active,
.navbar__link:hover {
  background-color: #555;
}

.navbar__button {
  background-color: #c9302c;
  color: #fff;
  border: none;
  border-radius: 5px;

  padding: 10px 20px;
  cursor: pointer;
}

.navbar__button:hover {
  background-color: #555;
}

.detected-users__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.detected-users {
  width: 1200px;
  padding: 2em;
}

.detected-users__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detected-users__title {
  font-size: 2em;
  margin-bottom: 1em;
}

.detected-users__search {
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  max-width: 300px;
}

.excel__actions {
  margin-bottom: 1em;
}

.excel__button {
  background-color: #3fa500;
  padding: 0.5em 1em;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table-container {
  flex: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.table__header {
  background-color: #f4f4f4;
  padding: 0.5em;
  text-align: left;
}

.table__row:nth-child(even) {
  background-color: #f9f9f9;
}

.table__cell {
  padding: 0.5em;
  border: 1px solid #ddd;
}

.table__delete-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.table__delete-button:hover {
  background-color: #c9302c;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.auth__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 80vh;
  margin: 0 auto;
}

.form__container {
  width: 400px;
}

.form {
  flex: 1;
  margin-right: 20px;
}

.form__group {
  margin-bottom: 10px;
}

.form__label {
  /* display: block; */
  margin-bottom: 5px;
}

.form__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.form__button {
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #0056b3;
}

.form__button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

/*--------------------------------------------------------------------------*/

.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profile {
  width: 1200px;
  padding: 2em;
}

.profile__button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile__button--delete {
  background-color: #dc3545;
}

.profile__form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.profile__form-group {
  margin-bottom: 15px;
}

.profile__form-label {
  display: block;
  margin-bottom: 5px;
}

.profile__form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile__form-button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile__form-button--cancel {
  background-color: #6c757d;
}

.profile__details {
  margin: 20px 0;
}

.profile__details-item {
  margin-bottom: 10px;
}

.profile__images {
  display: flex;
  margin: 20px 0;
}

.profile__images-item {
  position: relative;
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
}

.profile__images-img {
  margin-right: 10px;
}

.profile__images-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
}

.profile__upload {
  margin: 20px 0;
}

.profile__upload-input {
  margin-bottom: 10px;
}

.profile__upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile__upload-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
